* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
.table {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.table:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.table:hover {
  background: #ddd;
}

/*  Checkbox css */

input[type="checkbox"] {
  width: 1.15em;
  height: 1.15em;
}
